<div id="<%= dom_id post1 %>">
  <p>
    <strong>Title:</strong>
    <%= post1.title %>
  </p>
  <p>
    <strong>User Id:</strong>
    <%= post1.user_id %>
  </p>
  <p>
    <strong>User email:</strong>
    <%= post1.user.email %>
  </p>

</div>
